<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome</h1>

    <form action="/edit/" method="post">
        <select name="sel" onchange="this.form.submit()">
            {% for value in things %}
                <option value="{{ value }}">{{ "%s" % (value) }}</option>
            {% endfor %}
        </select>
    </form>
    
</body>
</html>